.App{
   
}

.brandM{
    height: 100px;
    margin-top: 1.5em;
}

.top-m{
    color: white;
    text-align: center;
}

.top-m h1{
    font-family: 'Marvel', sans-serif;
    font-size: 45px;
    margin: 0.0004em;
}